/.vscode
ex_01/ex_01.pro.user
.qtc_clangd
ex_01/.qmake.stash
ex_01/ex_01.pro
ex_01/glwidget.cc
ex_01/Makefile
ex_01/Makefile.Debug
ex_01/Makefile.Release
ex_01/release/

ex_02/Makefile
ex_02/.qmake.stash
ex_02/Qt_GL/Makefile
ex_02/Qt_GL/Makefile.Debug
ex_02/Qt_GL/Makefile.Release
ex_02/Qt_GL/release/
ex_02/text/Makefile
ex_02/text/Makefile.Debug
ex_02/text/Makefile.Release
ex_02/text/release/

ex_03/.qmake.stash
ex_03/Makefile
ex_03/Qt_GL/Makefile
ex_03/Qt_GL/Makefile.Debug
ex_03/Qt_GL/Makefile.Release
ex_03/Qt_GL/release/
ex_03/text/Makefile
ex_03/text/Makefile.Debug
ex_03/text/Makefile.Release
ex_03/text/release/

ex_04/.qmake.stash
ex_04/Makefile
ex_04/Qt_GL/Makefile
ex_04/Qt_GL/Makefile.Debug
ex_04/Qt_GL/Makefile.Release
ex_04/Qt_GL/release/
ex_05/.qmake.stash

ex_05/Makefile
ex_05/general/contenu.o
ex_05/general/libgeneral.a
ex_05/general/Makefile
ex_05/Qt_GL/Makefile
ex_05/Qt_GL/Makefile.Debug
ex_05/Qt_GL/Makefile.Release
ex_05/Qt_GL/release/
ex_05/text/Makefile
ex_05/text/Makefile.Debug
ex_05/text/Makefile.Release
ex_05/text/release/

ExerciceP10/.qmake.stash
ExerciceP10/Makefile
ExerciceP10/general/contenu.o
ExerciceP10/general/libgeneral.a
ExerciceP10/general/Makefile
ExerciceP10/Qt_GL/Makefile
ExerciceP10/Qt_GL/Makefile.Debug
ExerciceP10/Qt_GL/Makefile.Release
ExerciceP10/Qt_GL/release/
ExerciceP10/text/Makefile
ExerciceP10/text/Makefile.Debug
ExerciceP10/text/Makefile.Release
ExerciceP10/text/release/
